<a href="https://colab.research.google.com/github/Luzaraque3/ejercicio_for/blob/main/ejercicios_for_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCION REPETITIVA FOR

In [ ]:
# EJERCICIO1: mostrr los nuemros del 1 al 10, sin usar istrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# EJERCICIO 2: mostrar los numeros del 1 al 10, usando la insruccion while

contador = 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador += 1
  print(contador)

In [ ]:
# EJERCICO 3: mostrar los umeros del 1 al 10, usando la instruccion for y una lista como iterable

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(i)

In [ ]:
# EJERCICO 4: mostrar los numeros del 1 al 10, usando la instruccion for y la funcion range

for i in range(1,11):
  print(i)

In [ ]:
# EJERCICIO 5: mostrar una frase 10 veces, usando la instruccion for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i} sistemas el mejor")

In [ ]:
# Ejercicio 6: mostrar la silana inicial de los dias de la semana. usando for y una lista con la silaba inicial de los dias de la semana

dias_semana =["lu", "ma", "mi", "ju", "vi", "sa", "do"]
for i in dias_semana:
  print(i)

In [ ]:
# EJERCICIO 7: mostrar una lista de distintos tipos de datos, usando for

lista = [1, 3,4, 9, True, "Luz", 8, "Guanenta"]
for i in lista:
  print(i)

In [ ]:
# EJERCICIO 8: ingresar su nombre y mostrando letra por letra, usando for

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# EJERCICIO 9: ingresar nombre y mostrarlo letra a letra usando for cambiando por asterisco * a la vocal e

nombre = input("Digite su nombre: ")
for letra in nombre:
  if letra == "e":
    print("*")
  else:
    print(letra)

In [ ]:
# EJERCICIO 10: ingresar su nombre y mostrarlo letra por letra, en mayuscula, usando for.

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# EJERCICIO 11: imprimir listas de numeros, usando for y range

print("Numeros del 0 al 9")
for i in range(10):
  print(i)

print("Numeros del 1 al 10")
for i in range(10):
  print(i)

print("10 veces las frases")
for i in range(10):
  print(i)

print("10 veces la frase 1 = ")
for i in range(10):
  print("i = " + str (i))

print("10 veces la frase i = ")
for i in range(10):
  print(f"i = {i}")

print("Rango del 7 al 18, incrementando de 4 en 4")
for i in range(7,19,4):
  print(i)

print ("Convierte rango en lista a, y la muesta")
a = list(range(100))
print(a)

# EJERCICIOS
1. Dadala siguiente lista de números, [20, 21, 30, 41, 50, 51, 201] mostrar en la pantalla solo los que NO terminan en 1.
2. Mostrar 100 veces la palabra "Programacion"
3. Del conjunto de cadenas ["E", "F", "M", "A"] que correspondan a las iniciales de los primeros cuatro meses del año, mostrar el nombre completos de dichos meses.
4. Leer un texto y determina cuántas veces dicho texto contiene cada de las vocales en minusculs y/o mayúsculas.